*~
*.bak
*.orig
*.zip
*.tar.gz

debian/files
debian/faba-colors.debhelper.log
debian/faba-colors.postinst.debhelper
debian/faba-colors.postrm.debhelper
debian/faba-colors.prerm.debhelper
debian/faba-colors.substvars
debian/faba-colors

src/WIP

generate-symlinks.sh
quick.sh
create-zip.sh