Source: faba-colors
Section: gnome
Priority: optional
Maintainer: Sam Hewitt <hewittsamuel@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: https://github.com/snwh/faba-colors


Package: faba-colors
Architecture: all
Depends: ${misc:Depends}
 faba-icon-theme
Description: Faba Colors
 Faba Colors
 This a supplementary theme for Faba containing the color variations.
